@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 3%;
  font-family: Inter;
  color: black;
  background: #ffffff;
}

header {
  display: flex;
  text-align: left;
  font-size: 26px;
  color: rgb(155, 155, 170);
}

img {
  display: flex;
}

/* main cotnatiner - form */

.main {
  /* border: 2px solid red; */

  display: flex;
  justify-content: center;
  padding: 25px;
  float: inline-start;

  font-size: 20px;
  background-color: rgb(196, 215, 231);
  border-radius: 8px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.book-span {
  padding-right: 20px;
}

.add-btn {
  padding-left: 12px;
  padding-right: 12px;
  background: rgb(237, 241, 241);
  border-radius: 15px;
  border: none;
  font-weight: 800;
  cursor: pointer;
}

.add-btn:hover {
  background: rgb(133, 164, 179);
}

/* book container */

.container {
  /* border: 2px solid blue; */

  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: auto;
  min-width: 250px;

  background: #a9bfd3;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgb(160, 161, 163);
}

.card {
  color: black;
  flex-shrink: 0;
  background: rgb(238, 240, 245);
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 2px rgb(160, 161, 163);
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 240px;
  height: 230px;
}

.read {
  background-color: #cee2c8;
}

.not-read {
  background-color: #f0e990;
}

.read-btn,
.remove-btn {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: rgb(217, 221, 224);
}

.remove-btn:hover {
  cursor: pointer;
  background: #db9090;
}

/* DIALOG */

.book-form {
  visibility: hidden;
  position: absolute;
  /* top: 10%; Move the form to the vertical center */
  /* left: 25%;
  transform: translate(-50% -50%); */

  display: flex;
  justify-content: center;

  background: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  font-size: 18px;
}

legend {
  text-align: center;
  margin-bottom: 20px;
}

label {
  float: left;
  padding: 5px;
  padding-right: 10px;
}

input {
  float: right;
  padding: 5px;
  margin-bottom: 6px;
}

.submit-btn:hover,
.read-btn:hover {
  cursor: pointer;
  background: rgb(133, 164, 179);
}

.form-btn {
  padding-right: 50px;
  text-align: center;
}

.submit-btn {
  margin-top: 30px;
  padding: 10px;
  border: none;
  border-radius: 6px;
}
